body{
    padding:0px;
    margin: 0px;
}
.navBar{
    align-items: left;
    background-color: aquamarine;
    overflow: hidden;
    height: 47px;
}
.logo{
    padding: 20px;
    text-align: left;
    font-size: 2rem;
    color: blueviolet;
}
.navBar .buttons{
    margin-top: 15px;
    float: right;
}
.signin , .signup{
    background-color:aquamarine;
    padding: 15px;
    text-align: center;
}
.signin:hover , .signup:hover{
    background-color: green;
}
.parallax1{
    background-image:  url("https://images.unsplash.com/photo-1610971441253-ab06498a0749?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    text-align: center;
    padding-top: 40vh;

}
.parallax2{
    background-image:  url("https://images.unsplash.com/photo-1551023629-106d39e0c145?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1936&q=80");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    text-align: center;
    padding-top: 40vh;

}
.parallax1 span , .parallax2 span{
    font-size: 60px;
    color: red;
}
.content{
    text-align: center;
    height:80px;
    background-color: aliceblue;
    margin: 0px;
}